@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;1,700&family=Nabla&family=Poppins:ital,wght@0,100;0,200;0,900;1,100&family=Rubik+Broken+Fax&family=Tektur:wght@600;700;800&family=Young+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: rgb(226, 83, 238);
    background: linear-gradient(90deg, rgba(226, 83, 238, 1) 23%, rgba(231, 219, 47, 1) 75%);
    color: aliceblue;
}

h1 {
    text-align: left;
    margin-top: 35vh;
    margin-left: 25vh;
    font-size: 100px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUpH1 2.5s ease-out 0.5s forwards;
}

@keyframes fadeInUpH1 {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

h2 {
    text-align: left;
    margin-top: 5vh;
    margin-left: 15vh;
    font-size: 50px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUpH2 2.5s ease-out 1s forwards;
}

@keyframes fadeInUpH2 {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

nav {
    background: rgb(122,233,236);
    background: linear-gradient(90deg, rgba(122,233,236,1) 18%, rgba(167,110,189,1) 88%);
    overflow: auto;
}

nav a { 
    float: left;
    display: block;
    color: blueviolet;
    text-align: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px 20px;
    text-decoration: double;
}

nav a:hover {
    background-color: yellow;
    color: black;
    transform: scale(1.1);
}

.animated-image {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: fit-content;
    height: 100vh;
    opacity: 0;
    animation: fadeInUpImage 2.5s ease-out forwards;
}

@keyframes fadeInUpImage {
    0% {
        opacity: 0;
        transform: translateY(-50%) translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(-50%);
    }
}
